{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head><title>Summarizer</title></head>
	<body>
		<img src="{% static 'app/img/summarizer.png' %}" />
		<form method="POST" action=""> {% csrf_token %}
			<h2>Enter your text here!</h2>
			{{ form1.as_p }}
			<input type="submit" name="summarize" value="Summarize"/>
		</form>
		<br><br><h2>Or</h2>
		<form method="POST" action"" enctype="multipart/form-data"> {% csrf_token %}
		    {{ form2 }}
		    <input type="submit" name="summarize" value="Summarize"/>
		</form>
		<br>
		<ul>
			{% for score, sentence in result %}
    			<li>{{ sentence }}<br>{{ score }}</li><br>
			{% endfor %}
		</ul>	
	</body>
</html>
